<div class="container">
    <div class="row">

        <div class="row col-md-12 offset-sm-0">
                <div class="col-sm">
                    <br>
                        <h2>
                            <center>
                            <%= @chatroom.topic %>
                            </center>
                        </h2>
            
                        <div class="panel panel-default">
                            <% if @chatroom.messages.any? %>
                                <div class="panel-body" id="messages">
                                    <%= render partial: 'messages/message', collection: @chatroom.messages%>
                                </div>
                                <%else%>
                                    <div class="panel-body hidden" id="messages">
                                    </div>
                                    <%end%>
                        </div>
                    
            
                        <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
                    </div>

            <div class="col-md-6 offset-sm-0">
                <%= render partial: 'chatrooms_users/leaveRoom' %>

                    <div class="panel panel-default">
                        <h3>Usuarios en la sala</h3>

                        <% if @chatroomUsers.any? %>
                            <div class="panel-body" id="users">
                                <%= render partial: 'chatrooms_users/chatroomUsers', collection: @chatroomUsers%>
                            </div>
                            <%else%>
                                <div class="panel-body hidden" id="messages">
                                </div>
                                <%end%>
                    </div>
            </div>
        </div>
    </div>
</div>