<div class="row">
    <div class="col-sm-4 offset-sm-4 text-center">

        <h2 id="log-in-title">Registrarse</h2>
        
        <div class="form-control">
            <%= form_for(User.new, url: signup_path) do |f| %>

                <%=f.label :nombre%>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <%= f.text_field :username, class: "form-control"%>
                    </div> <br>

                    <div class="actions">
                        <%= f.submit "Registrarse", class: "btn btn-primary" %>
                    </div>
                    <% end %>
        </div>
    

        <%= render partial: 'layouts/flash_errors'%>

    </div>
</div>