<!DOCTYPE html>
<html>

<head>
    <script src="app/assets/javascripts/alertify.min.js"></script>

    <!-- include the style -->
    <link rel="stylesheet" href="app/assets/stylesheets/alertify.min.css" />
    <!-- include a theme -->
    <link rel="stylesheet" href="app/assets/stylesheets/themes/default.min.css" />

    <title>ConversationsForums</title>
    <%= csrf_meta_tags %>
        <%= action_cable_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render partial: 'layouts/navbar' %>
        <%= yield %>
</body>

</html>